<html>
  <body>
    <form method="POST">
        <input style="margin: 2px" type="text" id="username" name="username" placeholder="username" required/>
        <br>
        <input style="margin: 2px" type="password" id="password" name="password" placeholder="password" required/>
        <br>
        <input style="margin: 2px" type="text" id="email" name="email" placeholder="Email id" required/>
        <br>
        <input style="margin: 2px" type="submit" value="Signup"/>



    </form>
    {{#if errorMsg}}
    <br>
    <strong style="color: red"> {{errorMsg}} </strong>
    {{/if}}
    {{#if successMsg}}
    <br>
    <strong style="color: green"> {{successMsg}} </strong>
    <br>
    Click <a href="/login">here</a> to login
    {{/if}}
    <br>
    <a href="/login">login</a>
    <br>

  </body>
</html>
