html,body{height: 100%;}
body{background: linear-gradient(to bottom right, white, #013243);}
.parallax-wrapper {
    position: relative;
}

.parallax-container {
    height: 200px;
    width: 100vw;
    padding: 50px;
    margin-left: calc(-50vw + 50% - 8px);
    position: relative;
}
.footer {
  color: #fff;
  position: relative;
  margin-top: -110px;
  height: 110px;
  clear:both;
  padding:20px 30px 0px 20px;
  background-color: #013243;
}
#wrap{
  min-height: 91.4%;
}
.container {

  overflow:auto;
  padding-bottom:110px;
}
.flink{
  text-decoration: none;
  color: #fff;
}
.flink:hover{
  cursor: pointer;
  text-decoration: none;
  color: #19B5FE;
}
