<html>
<title>
  {{title}}
</title>
<body>
THIS IS HOME PAGE
<br>

title of the page is: {{title}}
<br>
{{#if user}}

<b>{{user.username}}
<br>
<a href="/restricted"> restricted</a>
<br>
<a href="/logout"> logout</a>
{{else}}
<a href="/login">login</a>
<br>
<a href="/signup">signup</a>
{{/if}}

</body>
</html>
