<html>
  <body>
    <form method="POST">
        <input style="margin: 2px" type="text" id="username" name="username" placeholder="username" required/>
        <br>
        <input style="margin: 2px" type="password" id="password" name="password" placeholder="password" required/>
        <br>
        <input style="margin: 2px" type="submit" value="Login"/>
        {{#if errorMsg}}
        <br>
        <strong style="font-color: red"> {{errorMsg}} </strong>
        {{/if}}
    </form>
    <br>

    <br>

  </body>
</html>
