<% include partials/header %>
<div style="text-align:center">
  <h1><span style="color:#19B5FE;font-size:60pt">:( Uh oh ):</span></h1><br/>
  <h1><span style="color:#ccc;font-size:20pt">404 :  Page Not Found!</span></h1>
        <table style="margin:0 auto" border="0">
          <tr>
            <td>
              <img src="https://media1.giphy.com/media/l3q2K5jinAlChoCLS/200w.gif" height="160%"/>
            </td>
            <td>
              <img src="https://media.giphy.com/media/9J7tdYltWyXIY/giphy.gif"/>
            </td>
            <td>
              <img src="https://media1.tenor.com/images/8ae144ed315da183e826c10c9da2bf22/tenor.gif?itemid=7925352" height="133%"/>
            </td>
          </tr>
        </table>
      </div>

<% include partials/footer %>