<% include partials/header %>
<h1>Web App Login</h1><br/>
<%- messages('messages',locals) %>
<% if(errors){%>
    <% errors.forEach(function(error){ %>
      <div class="alert alert-danger">
        <%= error.msg %>
      </div>
    <% }) %>
<% } %>
<form method="POST" action="/login">
  <table>
    <tr><td style="font-size:16px">
  <b>Username: </b> </td><td> <input type="text" class="form-control" name="username" id="username"></td></tr>
  <tr><td style="font-size:16px">
  <b>Password: </b></td><td style="padding-top:5px"><input type="password" name="pass" class="form-control" id="pass"></td></tr>
  <tr><td></td><td style="padding-top:8px">
  <input type="submit" class="btn btn-primary" style="font-size:16px;width:100%" value="LogIn"></td></tr>
  <tr><td></td><td style="padding-top:5px">
  <a href="/forgot" style="color:#22313F">Forgot Password?</a></td></tr>
</table>
</form>
<% include partials/footer %>
