</div>
</div>
<footer class="footer">
  <div style="text-align:right;font-family:Lato">
    Developed for CSYE-6225 Course<br/>Northeaster University<br/>Spring 2018
  </div>
  <div style="text-align:left;font-family:Lato;font-weight:bold;font-size:12pt">
    Contributors: <a href"https://github.com/renuHadke" class="flink" data-toggle="tooltip" title="001873839" target="_blank">Renu Hadke</a> |
    <a href"https://github.com/singhvika" class="flink" data-toggle="tooltip" title="001821392" target="_blank">Vikas Singh</a> |
      <a href"https://github.com/SonaliChaudhari" class="flink" data-toggle="tooltip" title="001285029" target="_blank">Sonali Chaudhari</a> |
        <a href"https://github.com/zeusongit" class="flink" data-toggle="tooltip" title="001241945" target="_blank">Ashish Aggarwal</a>
  </div>
</footer>
</body>
</html>
